.cardWrapper {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  position: relative;
  user-select: none;
  aspect-ratio: 1/1;
  border: 2px solid hsl(var(--accent));
  transition: .3s;
}
[disabled], .matched, .selected {
  opacity: 0.2;
  pointer-events: none;
}
:is(.matched, .selected, :focus) .back{
  transform: rotateY(0deg);
}
:is(.matched, .selected, :focus) .front{
  transform: rotateY(90deg);
}
.side {
  border-radius: 5px;
  pointer-events: none;
  position: absolute;
}

.back{
  font-size: 3rem;
  transform: rotateY(90deg);
}